/* reset browser */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top-main{
    width: fixed 1920px;
    height:  753px;
    background: var(--Black-5, rgba(30, 40, 50, 0.05));
    position: relative;
}

.container{
    width: 1175px;
    height: auto;
    margin: auto;
    position: relative;
}

.plant-decorate{
    position: absolute;
    width: 100%;
    height: 350px;
    top: 300px;
    display: flex;
    justify-content: space-between;
}

.plant-1{
    width: 107px;
    margin-top: 240px;
}

.plant-2{
    width: 150px;
    margin-bottom: 100px;
    margin-top: 47px;
}

.header{
    width: 100%;
    height: 113px;
    position: absolute;
    top: 31px;
}

.header-top{
    width: 100%;
    height: 49px;
    display: flex;
}

.top-main .container .header .header-top img{
    width: 23px;
    height: 23px;
}

.top-main .container .header .header-top .logo {
    position: relative;
}

.top-main .container .header .header-top .logo .main-logo{
    position: absolute;
    width: 86px;
    height: 21px;
    left: 522px;
    top: 1px;
    color: black;
}

.top-main .container .header .header-top .logo .left{
    position: absolute;
    width: 28px;
    height: 14px;
    left: 485px;
    top: 5px;
    color: black;
}

.top-main .container .header .header-top .logo .right{
    position: absolute;
    width: 28px;
    height: 14px;
    left: 617px;
    top: 5px;
    color: black;
}

i{
    font-size: 18px;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: #FF6F61;
}

.account{
    margin-left: 957px;
    margin-top: 1px;
}

span{
    margin-left: 6px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.shoping{
    margin-left: 24px;
    margin-top: 1px;
}
.headder hr{
    color: #E3E3E3;
    height: 1px;
}

.header-bot ul{
    display: flex;
    color: black;
    list-style: none;
    justify-content: space-between;
    margin-top: 26px;
}

.header-bot ul li a{
    font-family: 'Open Sans', sans-serif;
    font-size: 14.3px;
    font-weight: 400;
    color: black
}

.header-bot ul li:hover a{
    color: #FF6F61;
}

.collections{
    width: 1091px;
    height: 500px;
    position: absolute;
    top: 200px;
    display: flex;
    justify-content: space-between;
}

.collections-content{
    width: 610px;
    height: 337px;
    margin-top: 53px;
    color: var(--Dark, #000);
}

.header-content{
    font-family: 'Roboto', sans-serif;
    font-size: 66px;
    margin-top: -1px;
    font-weight: 300;
}

.paragraph{
    width: 100%;
    height: 100px;
    margin-top: 28px;
    font-size: 26.2px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 55px;
    margin-left: 5px;
    color: var(--Dark, #000);
}

.shop-now{
    width: 32.5%;
    height: 64px;
    background: var(--Black, #1E2832);
    margin-left: 4px;
    margin-top: 66px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
}

.shop-now i{
    color: var(--White, #FFF);
    font-size: 20px;
}

.shop-now p{
    color: var(--White, #FFF);
    font-size: 26px;
    font-family: 'Roboto', sans-serif;
}

a:hover .shop-now{
    background-color: #FF6F61;
}

.border{
    background-color: transparent;
    width: 376px;
    height: 483px;
    margin-top: 17px;
    border-radius: 142px 0;
    position: relative;
    border: 2px solid var(--Dark-25, rgba(0, 0, 0, 0.25));
}

.border img{
    width: 376px;
    height: 483px;
    border-radius: 142px 0;
    position: absolute;
    bottom: 16px;
    right: 14px;
}

.brands-and-products{
    width: fixed 1920px;
    height: auto;
}

.brands{
    width: 100%;
    height: 100px;
    margin: auto;
    margin-top: 62px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brands img{
    width: 180px;
    height: 62px;
    gap: auto;
}

.hot-products{
    width: 100%;
    height: 578px;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.hot-products p{
    z-index: 99999999999999;
    position: absolute;
    transform: rotate(270deg);
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    left: -288px;
    top: 272px;
}

.hot1{
    width: 575px;
    height: 100%;
    position: relative;
}

.hot1 img{
    width: 100%;
    height: 100%;
}

.hot-category{
    width: 577px;
    height: 100%;
}

.hot-category ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    
}

.hot-category ul li img{
    width: 279px;
}

.row2{
    margin-top: 16px;
}

.grid-products{
    width: 100%;
    height: auto;
}

.product-title{
    width: 700px;
    height: 70px;
    margin: auto;
    margin-top: 120px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 30px;
    position: relative;
}

.product-title h2{
    position: absolute;
    top: 4px;
    left: 35px;
}

.top-menu-products{
    width: 100%;
    height: 29px;
    margin-top: 18px;
    position: relative;
}

.menu{
    width: 333px;
    height: 100%;
    justify-content: space-between;
    display: flex;
    position: absolute;
    left: 0;
}

.top-menu-products ul{
    display: flex;
    list-style: none;
    align-items: center;
}

.top-menu-products ul li{
    align-items: center;
}

.top-menu-products ul li a{
    font-size: 15px;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    color: var(--Dark-50, rgba(0, 0, 0, 0.50));

}

.top-menu-products ul li:hover a{
    color: #FF6F61;
}

.top-menu-products ul li h6{
    font-size: 15px;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
}

.top-menu-products div a{
    position: absolute;
    right: 0;
}

.top-menu-products div a:hover img{
    color: #FF6F61;
}

.top-menu-products div a .filter{
    width: 83px;
    height: 29px;
    background: var(--Black, #1E2832);
    display: flex;
    align-items: center;
    padding: 5px 15px;
    gap: 4px;
}

.top-menu-products div a .filter .icon-filter{
    width: 17px;
    height: 18px;
}

.top-menu-products div a .filter .text-filter{
    width: 33px;
    height: 13px;
}

.top-menu-products div a:hover div{
    background-color: #FF6F61;
}


.products{
    width: 100%;
    height: 873px;
    margin-top: 30px;
}


.products .row{
    width: 100%;
    height: 425px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -7px 0 0;
}

.products .row .column-4{
    width: 100%/4;
    height: 100%;
}

.products .row .column-4 a img{
    width: 100%;
    height: 427px;
}

.products .row2{
    width: 100%;
    height: 425px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 22px -7px 0 0;
}

.products .row2 .column-4{
    width: 100%/4;
    height: 100%;
}

.products .row2 .column-4 a img{
    width: 100%;
    height: 427px;
}

.zara{
    width: fixed 1920px;
    height: 690px;
    background-color: black;
    margin-top: 125px;
    position: relative;
}

.zara div img{
    width: 1400px;
    height: 100%;
    position: absolute;
    left: -8px;
}

.zara .zara1 img{
    width: 600px;
    height: 275px;
    position: absolute;
    left: 1097px;
    top: 45px;
}

.zara .zara2 img{
    width: 170px;
    height: 72px;
    position: absolute;
    left: 954px;
    top: 207px;
}

.center-main .text{
    width: 455px;
    height: 170px;
    background-color: transparent;
    position: absolute;
    left: 954px;
    top: 324px;
}

.zara .text p{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 23.2px;
    line-height: 44px;
    color: #FFF;
}

.center-main .zara div a .see-collection{
    background: var(--White, #FFF);
    width: 210px;
    height: 64px;
    position: absolute;
    left: 955px;
    top: 544px;
}

.center-main .zara div a .see-collection img{
    width: 163px;
    height: 20px;
    margin-left: 31px;
    margin-top: 22px;
}

.center-main .zara div a:hover .see-collection{
    background-color: #FF6F61;
}

.slide{
    width: fixed 1920px;
    height: 692px;
}

.slide .container{
    background-color: #FFF;
    width: 1175px;
    height: 692px;
}

.slide .container .best-sellers{
    width: 250px;
    height: 62px;
    margin-top: 130px;
    margin: auto;
    margin-top: 130px;
    position: relative;
}

.best-sellers h2{
    position: absolute;
    top: -4px;
    left: 7px;
    font-size: 44.4px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.slide .container .top-menu-products{
    height: 60px;
    position: relative;
}

.slide .container .top-menu-products .menu{
    position: absolute;
    top: -15px;
}

.slide .container .top-menu-products div a .show-all{
    width: 83px;
    height: 29px;
    background: var(--Black, #1E2832);
    align-items: center;
}

.slide .container .top-menu-products div a .show-all img{
    width: 83px;
    height: 23px;
    padding: 5px 15px;
    margin-top: 3px;
}

.slide .container .top-menu-products div a:hover .show-all{
    background-color: #FF6F61;
}

.slide-main{
    position: relative;
}

.left-angle{
    position: absolute;
    z-index: 999;
    top: 156px;
    left: 7px;
}

.right-angle{
    position: absolute;
    z-index: 999;
    top: 156px;
    left: 1124px;
}

.follow{
    width: fixed 1920px;
    height: 670px;
    background: var(--Black-5, rgba(30, 40, 50, 0.05));
}

.follow .container{
    width: 1175px;
    height: inherit;
}

.follow-title-1{
    width: fit-content;
    height: auto;
    padding-top: 88px;
    margin: auto;
}

.follow-title-1 h2{
    font-size: 44.4px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.ins{
    padding-top: 52px;
}

.ins ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.ins ul li a img{
    width: 178px;
    height: 178px;
}

.ins ul li{
    position: relative;
}

.ins ul li i{
    font-size: 44px;
    position: absolute;
    top: 66px;
    left: 70px;
    display: none;
}

.ins ul li div{
    width: 178px;
    height: 178px;
    background-color: black;
    opacity: 0.4;
    margin-top: -182px;
    position: relative;
    display: none;
}

.ins ul li:hover div{
    display: block;
}

.ins ul li:hover i{
    display: block;
}

.follow-title-2{
    width: fit-content;
    height: auto;
    padding-top: 59px;
    margin: auto;
}

.follow-title-2 h2{
    font-size: 44.4px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.email{
    display: flex;
}

.input{ 
    width: 573px;
    height: 40px;
    margin-top: 50px;
    margin-left: 250px;
}

.email .input input{
    width: 100%;
    height: 40px;
    background-color: transparent;
    border: none;
}

.email .input hr{
    background: #000;
    height: 3px;
}

.submit{ 
    width: 80px ;
    height: 40px;
    margin-top: 73px;
    margin-left: 22px;
    position: relative;
}

.submit a p{
    position: absolute;
    margin: auto;
    font-weight: 400;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    top: -8px;
    left: 14px;
}

.submit a hr{
    position: absolute;
    width: 80px;
    height: 2px;
    background: #1E2832;
    top: 18px;
}

.footer-main{
    width: fixed 1920px;
    height: 440px;
}

.footer-main .container{
    width: 1175px;
    height: 89.5%;
    position: relative;
}

.footer-left{
    width: 355px;
    height: 185px;
    position: absolute;
    top: 125px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-left .logo{
    position: relative;
}

.footer-left .logo .main-logo{
    position: absolute;
    width: 86px;
    height: 21px;
    left: 38px;
    top: 3px;
    color: black;
}

.footer-left .logo .left{
    position: absolute;
    width: 28px;
    height: 14px;
    left: 1px;
    top: 7px;
    color: black;
}

.footer-left .logo .right{
    position: absolute;
    width: 28px;
    height: 14px;
    left: 133px;
    top: 7px;
    color: black;
}

.footer-content{
    position: absolute;
    top: 53px;
}

.footer-content p{
    font-family: 'Open Sans', sans-serif;
    font-size: 14.3px;
    font-weight: 400;
    line-height: 28px;
}

.social{
    position: absolute;
    top: 163px;
    left: 5px;
    display: flex;
    gap: 39px;
}

.footer-menu-1{
    width: 180px;
    height: 190px;
    position: absolute;
    top: 125px;
    left: 399px;
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.footer-menu-2{
    width: 180px;
    height: 190px;
    position: absolute;
    top: 125px;
    left: 699px;
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.footer-menu-3{
    width: 177px;
    height: 190px;
    position: absolute;
    top: 125px;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.footer-main .container div h6{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
}

.footer-main .container div ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer-main .container div ul li{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: var(--Black, #1E2832);
}

.footer-bot{
    width: 100%;
    height: 45px;
    background: var(--Black, #1E2832);
}

.footer-bot .container{
    width: 1175px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-bot-left p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14.3px;
    color: var(--White, #FFF);
}

.footer-bot-center img{
    width: 253px;
    margin-top: 4px;
}

.footer-bot-right{
    width: 134px;
    height: 35px;
    background-color: transparent;
}

.footer-bot-right img{
    width: 134px;
    margin-top: 4px;
}

.footer-bot .container .footer-bot-right:hover div{
    background-color: #FF6F61;
}

.products-hover{
    width: 100%;
    height: 48px;
    background: var(--Black, #1E2832);
    position: absolute;
    top: 530px;
    display: none;
}

.products-hover div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    padding-left: 7px;
    padding-right: 11px;
}

.products-hover div span{
    color: #FFF;
    font-size: 14.4px;
    font-family: 'Open Sans', sans-serif;
}

.hot-category .row1 li .products-hover{
    width: 278px;
    height: 48px;
    background: var(--Black, #1E2832);
    position: absolute;
    top: 230px;
}

.hot-category ul li .products-hover div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    padding-left: 7px;
    padding-right: 13px;
}

.hot-category .row2 li .products-hover{
    width: 278px;
    height: 48px;
    background: var(--Black, #1E2832);
    position: absolute;
    top: 530px;
}

.hot-products .hot1:hover .products-hover{
    display: block;
}

.hot-products .hot-category ul li:hover .products-hover{
    display: block;
}

.products .row .column-4 a div{
    position: relative;
    width: 100%;
    height: 120px;
    background-color: transparent;
    margin-top: -122px;
    display: none;
}

.products .row .column-4 a div .shop-hover{
    width: 100%;
    height: 49px;
    background: var(--Black, #1E2832);
    position: relative;
}

.products .row .column-4 a:hover div{
    display: block;
}

.products .row .column-4 a div .shop-hover .fa-regular{
    font-size: 15px;
    color: white;
    position: absolute;
    top: 16px;
    left: 16px;
}

.products .row .column-4 a div .shop-hover .fa-solid{
    font-size: 15px;
    color: white;
    position: absolute;
    top: 16px;
    left: 56px;
}

.products .row .column-4 a div .shop-hover div{
    width: 60%;
    height: 100%;
    background-color: transparent;
    position: absolute;
    right:  -40px;
    top: 124px;
    display: flex;
}

.products .row .column-4 a div .shop-hover div .shop-now{
    position: relative;
    display: flex;
}

.products .row .column-4 a div .shop-hover div .shop-now p{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin-left: -33px;
    margin-top: -8px;
}

.products .row .column-4 a div .shop-hover div .shop-now i{
    font-size: 17px;
    margin-left: -85px;
    margin-top: -4px;
}

.products .row .column-4 a div .shop-hover div .shop-now:hover i{
    color: #FF6F61;
}

.products .row .column-4 a div .shop-hover div .shop-now:hover p{
    color: #FF6F61;
}

.products .row2 .column-4 a div{
    position: relative;
    width: 100%;
    height: 120px;
    background-color: transparent;
    margin-top: -122px;
    display: none;
}

.products .row2 .column-4 a div .shop-hover{
    width: 100%;
    height: 49px;
    background: var(--Black, #1E2832);
    position: relative;
}

.products .row2 .column-4 a:hover div{
    display: block;
}

.products .row2 .column-4 a div .shop-hover .fa-regular{
    font-size: 15px;
    color: white;
    position: absolute;
    top: 16px;
    left: 16px;
}

.products .row2 .column-4 a div .shop-hover .fa-solid{
    font-size: 15px;
    color: white;
    position: absolute;
    top: 16px;
    left: 56px;
}

.products .row2 .column-4 a div .shop-hover div{
    width: 60%;
    height: 100%;
    background-color: transparent;
    position: absolute;
    right:  -40px;
    top: 124px;
    display: flex;
}

.products .row2 .column-4 a div .shop-hover div .shop-now{
    position: relative;
    display: flex;
}

.products .row2 .column-4 a div .shop-hover div .shop-now p{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin-left: -33px;
    margin-top: -8px;
}

.products .row2 .column-4 a div .shop-hover div .shop-now i{
    font-size: 17px;
    margin-left: -85px;
    margin-top: -4px;
}

.products .row2 .column-4 a div .shop-hover div .shop-now:hover i{
    color: #FF6F61;
}

.products .row2 .column-4 a div .shop-hover div .shop-now:hover p{
    color: #FF6F61;
}

.products .row .column-4 a div .price-hover{
    width: 50%;
    height: 20px;
    background-color: #FFF;
    margin-top: 51px;
    margin-left: 50%;
}

.products .row .column-4 a div .price-hover p{
    color: var(--Dark, #000);
    text-align: right;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    margin-right: 10px;
}

.products .row2 .column-4 a div .price-hover{
    width: 50%;
    height: 20px;
    background-color: #FFF;
    margin-top: 51px;
    margin-left: 50%;
}

.products .row2 .column-4 a div .price-hover p{
    color: var(--Dark, #000);
    text-align: right;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    margin-right: 10px;
}



.slide-main div .item a div{
    position: relative;
    width: 100%;
    height: 120px;
    background-color: transparent;
    margin-top: -118px;
    display: none;
}

.slide-main div .item a div .shop-hover{
    width: 100%;
    height: 49px;
    background: var(--Black, #1E2832);
    position: relative;
}

.slide-main div .item a:hover div{
    display: block;
}

.slide-main div .item a div .shop-hover .fa-regular{
    font-size: 15px;
    color: white;
    position: absolute;
    top: 16px;
    left: 16px;
}

.slide-main div .item a div .shop-hover .fa-solid{
    font-size: 15px;
    color: white;
    position: absolute;
    top: 16px;
    left: 56px;
}

.slide-main div .item a div .shop-hover div{
    width: 60%;
    height: 100%;
    background-color: transparent;
    position: absolute;
    right:  -40px;
    top: 124px;
    display: flex;
}

.slide-main div .item a div .shop-hover div .shop-now{
    position: relative;
    display: flex;
}

.slide-main div .item a div .shop-hover div .shop-now p{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin-left: -33px;
    margin-top: -26px;
}

.slide-main div .item a div .shop-hover div .shop-now i{
    font-size: 17px;
    margin-left: -85px;
    margin-top: -13px;
}

.slide-main div .item a div .shop-hover div .shop-now:hover i{
    color: #FF6F61;
}

.slide-main div .item a div .shop-hover div .shop-now:hover p{
    color: #FF6F61;
}

.slide-main div .item a div .price-hover{
    width: 50%;
    height: 20px;
    background-color: #FFF;
    margin-top: 47px;
    margin-left: 50%;
}

.slide-main div .item a div .price-hover p{
    color: var(--Dark, #000);
    text-align: right;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600;
    margin-right: 10px;
}